*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --mainColour: purple;
}
.nav-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 50px;
}
.logo, .connect{
    cursor: pointer;
}
.nav-center ul li a{
    padding: 5px;
    position: relative;
}
.nav-center ul li a::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0%;
    height: 2px;
    background: var(--mainColour);
    transition:width 0.3s ease-in-out ;
}
.nav-center ul li a:hover::after{
    width: 100%;
}
.nav-section .logo{
    height: 50px;
    border-radius: 50%;
}
.nav-section ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 18px;
}
.nav-section a{
    text-decoration: none;
    color: black;
}
.hero{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 50px 0 50px;
    border-radius: 10px;
}
.hero-text{
    padding: 50px;
}
.hero-text button, input{
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin: 30px 5px 0 0;
}
.hero-text span{
    color: var(--mainColour);
}
.hero h1{
    font-size: 50px;
}
.hero .image-container{
    padding: 50px;
}
.profile-image{
    border-radius: 10px;
}
.connect{
    background-color: var(--mainColour);
    color: white;
}
