.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 10vw;
}
.about-heading{
    font-size: 2em;
    font-weight: 600;
}
.about-me-section{
    display: flex;
    gap: 5vw;
}
.about-me-left-section img{
    width: 40vw;
    border-radius: 10px;
}
.about-right-side{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.about-me{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 400;
}
.my-skillset{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.skillset{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.my-skillset p{
    min-width: 150px;
    font-size: 18px;
    font-weight: 400;
}
.my-skillset hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(135deg, #6E026F, #4D2B8C);
}
.skillset:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.my-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 5vw;
}
.my-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.my-achievement:hover{
    transform: scale(1.15);
    transition: 0.3s;
}
.my-achievement h2{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(135deg, #6E026F 50.41%, #4D2B8C 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.my-achievement p{
    font-size: 18px;
    font-weight: 400;
}
@media screen and (max-width: 760px){
    .about-heading{
        font-size: 1.5em;
    }
    .about-me-section{
        flex-direction: column;
        align-items: center;
    }
    .about-me-left-section{
        display: none;
    }
    .about-me{
        font-size: 18px;
        line-height: 32px;
    }
    .skillset{
        gap: 10px;
        align-items: center;
    }
    .my-skillset p{
        min-width: unset;
    }
    .skillset p{
        font-size: 17px;
    }
    .my-skillset hr{
        height: 6px;
    }
    .skillset:hover,
    .my-achievement:hover{
        transform: none;
    }
    .my-achievements{
       justify-content: space-between;
    }
    .my-achievement{
        gap: 10px;
    }
    .my-achievement h2{
        font-size: 34px;
        font-weight: 700;
    }
    .my-achievement p{
        text-align: center;
        font-size: 16px;
    }
}