.contact, .contact-section, .contact-left, .contact-details, .contact-detail, .contact-right form {
    display: flex;
}
.contact, .contact-left, .contact-details, .contact-right form{
    flex-direction: column;
}
.contact, .contact-detail{
    align-items: center;
}
.contact{
    justify-content: center;
    gap: 5vw;
    margin: 5vw 12vw;
}
.contact-heading{
    font-size: 2em;
    font-weight: 600;
}
.contact-section{
    gap: 5vw;
    overflow: hidden;
}
.contact-left{
    gap: 25px;
    width: 50%;
}
.contact-left h2{
    font-size: 2.5em;
    font-weight: 700;
    background: linear-gradient(135deg, #6E026F 80%, #4D2B8C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    width: 550px;
    font-size: 20px;
    line-height: 30px;
}
.contact-details{
    gap: 25px;
}
.contact-detail{
    gap: 20px;
}
.contact-detail img{
    width: 30px;
}
.contact-right form{
    align-items: start;
    gap: 20px;
}
.contact-right label{
    font-size: 22px;
    font-weight: 500;
}
.contact-right input, .contact-right textarea{
    border: 1px solid #6E026F;
    width: 450px;
    height: 50px;
    border-radius: 4px;
    font-size: 15px;
}
.contact-right input{
    padding-left: 20px;
}
.contact-right textarea{
    padding: 20px;
    min-height: 150px;
    resize: vertical;
}
.contact-submit{
    border: none;
    background: linear-gradient(135deg, #4D2B8C, #6E026F);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 50px;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media screen and (max-width: 760px){
    .contact-heading{
        font-size: 1.5em;
        font-weight: 500;
        margin: 5vw 0;
    }
    .contact-left,  .contact-right{
        width: 100%;
        max-width: 90vw;
    }
    .contact-section{
        flex-direction: column;
        align-items: center;
    }
    .contact-left h2{
        font-size: 1.3em;
    }
    .contact-left p, .contact-detail p{
        width: 90vw;
        max-width: none;
        font-size: 16px;
    }
    .contact-detail p{
        word-wrap: break-word;
    }
    .contact-right input, .contact-right textarea{
        width: 90vw;
        max-width: none;
        box-sizing: border-box;
    }
}