.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin: 5vw 12vw;
}
.contact-heading{
    font-size: 2em;
    font-weight: 600;
}
.contact-section{
    display: flex;
    gap: 10vw;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.contact-left h2{
    font-size: 2.5em;
    font-weight: 700;
    background: linear-gradient(135deg, #6E026F 80%, #4D2B8C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 550px;
    font-size: 20px;
    line-height: 35px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-detail img{
    width: 30px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.contact-right label{
    font-size: 22px;
    font-weight: 500;
}
.contact-right input{
    border: 1px solid #6E026F;
    width: 700px;
    height: 50px;
    padding-left: 20px;
    border-radius: 4px;
    font-size: 15px;
}
.contact-right textarea{
    border: 1px solid #6E026F;
    width: 700px;
    height: 50px;
    padding: 20px;
    border-radius: 4px;
    font-size: 15px;
}
.contact-submit{
    border: none;
    background: linear-gradient(135deg, #4D2B8C, #6E026F);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 15px;
}