.footer,.footer-top,.footer-top-left,.footer-top-right,.footer-email-input,.footer-bottom,
.footer-bottom-right {
  display: flex;
}
.footer, .footer-top-left{
    flex-direction: column;
}
.footer-top, .footer-bottom{
    justify-content: space-between;
} 
.footer, .footer-top-right, .footer-email-input {
    gap: 30px;
}
.footer{
  margin: 3vw 0;
}
.footer-top-left {
  gap: 15px;
}
.footer-top-left p {
  font-size: 20px;
  max-width: 400px;
}
.footer-top-left img,
.footer-email-input img {
  width: 30px;
}
.footer-top-right {
  align-items: center;
}
.footer-email-input {
  padding: 10px 15px;
  border-radius: 50px;
  background: #6e026f;
  padding-right: 80px;
}
.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: white;
  font-size: 18px;
}
.footer-subscribe {
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  background: linear-gradient(135deg, #6e026f 5%, #4d2b8c 106%);
  cursor: pointer;
  transition: 0.3s;
  color: white;
}
.footer-email-input:hover {
  border: 2px solid #4d2b8c;
  transition: 0.4s;
}
.footer-subscribe:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.footer-bottom {
  font-size: 18px;
}
.footer-bottom-right {
  gap: 50px;
}
@media screen and (max-width: 760px) {
  .footer {
    margin-top: 10vw;
  }
  .footer-top, .footer-bottom{
    flex-direction: column;
  }
  .footer-top {
    gap: 30px;
  }
  .footer-top-left p, .footer-email-input{
    width: 90vw;
    max-width: 100%;
  }
 
  .footer-bottom-right,
  .footer-bottom-left, .footer-top-left p {
    font-size: 15px;
  }
  .footer-top-right {
    display: flex;
    gap: 20px;
  }
  .footer-subscribe {
    display: none;
  }
  .footer-email-input {
    gap: 10px;
    padding-right: 15px;
  }
  .footer-email-input input {
    width: 100%;
    max-width: 100%;
  }
  .footer-bottom {
    gap: 10px;
  }
}
