.footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 3vw 0;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-top-left p{
    font-size: 20px;
    max-width: 400px;
}
.footer-top-left img, .footer-email-input img{
    width: 30px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer-email-input{
    display: flex;
    gap: 30px;
    padding: 10px 15px;
    border-radius: 50px;
    background: #6E026F;
    padding-right: 80px;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: white;
    font-size: 18px;
}
.footer-subscribe{
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    background: linear-gradient(135deg, #6E026F 5%, #4D2B8C 106% );
    cursor: pointer;
    transition: 0.3s;
    color: white;
}
.footer-email-input:hover{
    border: 2px solid #4D2B8C;
transition: 0.4s;
}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
}
@media screen and (max-width: 760px){
    .footer-top, .footer-bottom{
        flex-direction: column;
        gap: 30px;
    }
    .footer-top-left p{
        width: fit-content;
    }
}