.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 3vw;
}
.profile-img{
    width: 200px;
    border-radius: 50%;
}
.landing span{
    color: purple;
    font-size: 1.5em;
}
.landing h1{
    width: 65%;
    font-size: 3em;
    text-align: center;
    font-weight: 600;
}
.cta{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    font-weight: 400;
}
.hero-connect{
    padding: 10px 20px;
    border-radius: 10px;
    background: purple;
    cursor: pointer;
    color: white;
    border: 0;
}
.hero-resume{
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    outline: 0;
}
.hero-connect:hover{
    border: 2px solid black;
    transition: 0.3s ease-in-out;
}
.hero-resume:hover{
    border: 2px solid purple;
    transition: 0.3s ease-in-out;
}