.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 5vw;
}
.profile-img{
    width: 200px;
    border-radius: 50%;
}
.landing span{
    color: purple;
    font-size: 1.5em;
}
.landing h1{
    width: 65%;
    font-size: 3em;
    text-align: center;
    font-weight: 600;
}
.cta{
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 20px;
    font-weight: 400;
}
.hero-connect{
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(135deg, #6E026F, #4D2B8C);
    cursor: pointer;
    color: white;
    border: 0;
}
.hero-resume{
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    outline: 0;
}
.hero-connect:hover, .hero-resume:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

@media screen and (max-width: 760px){
    .landing{
        margin: 18vw 0;
    }
    .landing h1{
        width: 90%;
        font-size: 2.3em;
    }
    .profile-img{
        width: 150px;
    }
    .cta{
        gap: 20px;
        margin-bottom: 15vw;
    }
    .hero-connect, .hero-resume{
        padding: 9px 20px;
        font-size: 15px;
    }
}