.navbar{
    margin-top: 1%;
}
.navbar, .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    list-style: none;
    cursor: pointer;
    font-size: 20px;
}
.nav-links{
    gap: 20px;
}
.navbar button{
    cursor: pointer;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    background: linear-gradient(135deg, #6E026F, #4D2B8C);
    color: white;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.hamburger{
    font-size: 25px;
    cursor: pointer;
    display: none;
}