.navbar{
    margin-top: 1%;
}
.navbar, .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    list-style: none;
    cursor: pointer;
    font-size: 20px;
}
.nav-links .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #6E026F;
}
.nav-links{
    gap: 20px;
}
.navbar button{
    cursor: pointer;
    padding: 10px 25px;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    background: linear-gradient(135deg, #6E026F, #4D2B8C);
    color: white;
}
.navbar button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.hamburger{
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 15px;
}

@media screen and (max-width: 760px) {
  .logo{
    width: 30px;
    height: 30px;
  }
  .navbar button{
    font-size: 13px;
    padding: 8px 20px;
  }
  .hamburger {
    display: block;
    color: #6E026F;
  }

  .nav-links {
    max-height: 0%;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 5%;
    left: 0;
    background-color: white;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding: 0 15px;
  }
  .nav-links{
    flex-direction: column;
  }
  .nav-links.active {
    max-height: 300px;
    padding: 20px;
    z-index: 1;
  }
}
