.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    margin: 5vw 0;
}
.portfolio-heading{
    font-size: 2em;
    font-weight: 600;
}
.portfolio-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.portfolio-container img{
    width: 350px;
    height: 250px;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}
.portfolio-container img:hover{
    transform: scale(1.05);
    border: 4px solid #6E026F;
}
.showmore{
    display: flex;
    gap: 15px;
    border-radius: 10vw;
    border: 2px solid #6E026F;
    padding: 15px 30px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.4s;
    font-size: 18px;
}
.showmore:hover{
    gap: 30px;
    transition: 0.6s;
}
@media screen and (max-width:760px){
    .portfolio{
        gap: 25px;
    }
    .portfolio-heading{
        font-size: 1.5em;
    }
    .portfolio-container{
        grid-template-columns: 1fr;
        gap: 20px;
        width: 90vw;
    }
    .portfolio-container img{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .showmore{
        margin-top: 20px;
    }
}